[Desktop Entry]
Encoding=UTF-8
Name=SikretCoin
Comment=SikretCoin P2P Cryptocurrency
Comment[fr]=SikretCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SikretCoin, eşten eşe kriptografik sanal para birimi
Exec=skrt-qt %u
Terminal=false
Type=Application
Icon=skrt128
MimeType=x-scheme-handler/skrt;
Categories=Office;Finance;
