[Unit]
Description=SKRT's distributed currency daemon
After=network.target

[Service]
User=skrt
Group=skrt

Type=forking
PIDFile=/var/lib/skrtd/skrtd.pid

ExecStart=/usr/bin/skrtd -daemon -pid=/var/lib/skrtd/skrtd.pid \
          -conf=/etc/skrt/skrt.conf -datadir=/var/lib/skrtd

ExecStop=-/usr/bin/skrt-cli -conf=/etc/skrt/skrt.conf \
         -datadir=/var/lib/skrtd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
